<?xml version="1.0" ?><config>
    <modules>
        <Vaimo_Kiosked>
            <version>0.1.43</version>
        </Vaimo_Kiosked>
    </modules>

    <global>
        <helpers>
            <kiosked>
                <class>Vaimo_Kiosked_Helper</class>
            </kiosked>
        </helpers>
        <models>
            <kiosked>
                <class>Vaimo_Kiosked_Model</class>
                <resourceModel>kiosked_mysql4</resourceModel>
            </kiosked>
            <kiosked_mysql4>
                <class>Vaimo_Kiosked_Model_Mysql4</class>
                <entities>
                    <feed_item>
                        <table>kiosked_feed_item</table>
                    </feed_item>
                </entities>
            </kiosked_mysql4>
        </models>
        <blocks>
            <kiosked>
                <class>Vaimo_Kiosked_Block</class>
            </kiosked>
        </blocks>
        <resources>
            <kiosked_setup>
                <setup>
                    <module>Vaimo_Kiosked</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </kiosked_setup>
            <kiosked_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kiosked_write>
            <kiosked_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kiosked_read>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <kiosked>
                        <class>Vaimo_Kiosked_Model_Observer</class>
                        <method>onControllerFrontInitBefore</method>
                    </kiosked>
                </observers>
            </controller_front_init_before>
            <admin_system_config_changed_section_kiosked>
                <observers>
                    <kiosked>
                        <class>Vaimo_Kiosked_Model_Observer</class>
                        <method>onAdminSystemConfigChangedSectionKiosked</method>
                    </kiosked>
                </observers>
            </admin_system_config_changed_section_kiosked>
        </events>
    </global>

    <frontend>
        <routers>
            <kiosked>
                <use>standard</use>
                <args>
                    <module>Vaimo_Kiosked</module>
                    <frontName>kiosked</frontName>
                </args>
            </kiosked>
        </routers>
        <layout>
            <updates>
                <kiosked>
                    <file>vaimo_kiosked.xml</file>
                </kiosked>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <kiosked>
                <use>admin</use>
                <args>
                    <module>Vaimo_Kiosked</module>
                    <frontName>kiosked</frontName>
                </args>
            </kiosked>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <kiosked>
                    <file>vaimo_kiosked.xml</file>
                </kiosked>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <kiosked>
            <general_settings>
                <cookie_lifetime_days>7</cookie_lifetime_days>
                <active>1</active>
                <output_every_product>1</output_every_product>
                <api_url>http://api.kiosked.com/api</api_url>
                <account_connect_url>http://dashboard.kiosked.com/api</account_connect_url>
                <widgets_url>http://widgets.kiosked.com</widgets_url>
                <cpa_deal_signature_secret/>
            </general_settings>
            <advanced_settings>
                <use_flat_table>0</use_flat_table>
            </advanced_settings>
        </kiosked>
    </default>
</config>
